/* Стили для заголовков */
.header-title,
.intro-title,
.animal-title,
.gallery-title,
.contact-title,
.footer-text {
  color: #228B22; /* Зеленый цвет */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Стили для текста */
.intro-text,
.animal-card-text,
.contact-text {
  color: #333; /* Черный цвет */
  font-size: 16px;
  margin-bottom: 20px;
}

/* Стили для ссылок */
.nav-list a,
.intro-button,
.contact-form-button {
  color: #228B22; /* Зеленый цвет */
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #228B22;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.nav-list a:hover,
.intro-button:hover,
.contact-form-button:hover {
  background-color: #228B22; /* Зеленый цвет */
  color: #fff; /* Белый цвет */
}

/* Стили для галереи */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
}

/* Стили для формы контактов */
.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.contact-form-input,
.contact-form-textarea {
  padding: 10px;
  border: 1px solid #228B22; /* Зеленый цвет */
  border-radius: 3px
